<div class="section-header with-banner text-center">
  {% if section.settings.banner_image_enable == true %}
    {% if section.settings.banner_image == blank %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
    {% else %}
      <img class="page-banner" src="{{ section.settings.banner_image | img_url: '1440x289' }}" alt="Banner Image" />
    {% endif %}
    <h1>{{ page.title }}</h1>
  {% endif %}
</div>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      {% if section.settings.banner_image_enable == false %}
        <div class="section-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
      {% endif %}
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
    {% if section.settings.accordion_enable == true %}
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <h2 class="warranty-policies-heading">{{ section.settings.title }}</h2>
        <div class="warranty-policies">
          <main>
            {% for block in section.blocks %}
              <div class="accordion__item">
                <div class="accordion__header">
                  <h3>{{ block.settings.title}}</h3>
                  <i class="fa fa-caret-up"></i>
                  <i class="fa fa-caret-down"></i>
                </div>
                <div class="accordion__content">
                  <p>{{ block.settings.content}}</p>
                </div>
              </div>
            {% endfor %}
          </main>
          {% if section.settings.accordion_image_enable == true %}
            <aside>
              {% if section.settings.image == blank %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--accordion' }}
              {% else %}
                <img src="{{ section.settings.image | img_url: '176x172' }}" alt="Accordion Image" />
              {% endif %}
            </aside>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Accordion",
  "class": "accordion",
  "tag": "section",
  "settings": [
    {
      "id": "banner_image_enable",
      "type": "checkbox",
      "label": "Show Banner Image",
      "default": true
    },
    {
      "id": "banner_image",
      "type": "image_picker",
      "label": "Select Banner Image"
    },
    {
      "id": "accordion_enable",
      "type": "checkbox",
      "label": "Enable Accordion",
      "default": true
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Accordion Title"
    },
    {
      "id": "accordion_image_enable",
      "type": "checkbox",
      "label": "Show Accordion Image",
      "default": true
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Select Accordion Image"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}